* {
    margin: 0;
    padding: 0;
}
.container {
    display: flex;
    flex-wrap: wrap;
    height: 400px;
    background: pink;
    justify-content: center;
    align-content: center;
    gap: 15px;
}

.userDiv{
    display: flex;
    height: 45px;
    min-width: 45%;
    flex-direction: column;
    text-align: center;
    align-items:center;
    box-sizing: border-box;
    border-radius: 10px;
    background: lavender;
    border: 1px solid black;
}

.userButton{
height: 20px;
background: ivory;
    border-radius: 10px;
}