* {
    margin: 0;
    padding: 0;
}
.innerDiv{
    background: #7dbdc9;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    box-sizing: border-box;
    border-radius: 8px;
    border: 1px solid black;
    margin: 10px;
}
.buttonDiv{
    display: flex;
    justify-content: center;
    margin: 10px;
}
.commentsBtn{
    min-width: 90%;
    border-radius: 10px;
    background: #d1eef2;
}
.divComments{
    background: rgba(2, 142, 147, 0.22);
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
}
.innerDivComments {
    border: 1px solid black;
    border-radius: 5px;
    margin: 10px;
}